.table {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #4070f7;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  border: 2px solid snow;
}

.line {
  display: flex;
}

.cell {
  border: 2px solid snow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.cell:hover {
  cursor: pointer;
}